interactions:
- request:
    body: null
    headers:
      token:
      - some-token
    method: GET
    uri: https://api.maap-project.org/api/cmr/collections?doi=10.5067%2FGEDI%2FGEDI01_B.002&cloud_hosted=true&page_num=1&page_size=20
  response:
    body:
      string: '"<?xml version=\"1.0\" encoding=\"UTF-8\"?><results><hits>1</hits><took>19</took><result
        concept-id=\"C2142749196-LPCLOUD\" revision-id=\"28\" format=\"application/echo10+xml\"><Collection><ShortName>GEDI01_B</ShortName><VersionId>002</VersionId><InsertTime>2021-03-15T00:00:00.000Z</InsertTime><LastUpdate>2024-04-16T06:03:01.806Z</LastUpdate><LongName>Not
        provided</LongName><DataSetId>GEDI L1B Geolocated Waveform Data Global Footprint
        Level V002</DataSetId><Description>The Global Ecosystem Dynamics Investigation
        (GEDI) mission aims to characterize ecosystem structure and dynamics to enable
        radically improved quantification and understanding of the Earth\u2019s carbon
        cycle and biodiversity. The GEDI instrument produces high resolution laser
        ranging observations of the 3-dimensional structure of the Earth. GEDI is
        attached to the International Space Station (ISS) and collects data globally
        between 51.6\u00b0 N and[...]
- request:
    body: null
    headers:
      proxy-ticket:
      - PGT-1789-PqPwhL62u-GPb7lR3Z-cDVDj-RZj41lCMMgkOdQ-YQXAYj9n2hQQcvrrFNr0Z3b1xUY-93f206e1209e
      token:
      - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiYnNhdG9yaXUiLCJleHAiOjE1NjE1ODY0Nzl9.0Eq92EaiWYQ5jc_wX9lHu_iEOS8xE88FWlvYbOUlD08
    method: GET
    uri: https://api.maap-project.org/api/cmr/collections?doi=10.5067%2FGEDI%2FGEDI01_B.002&cloud_hosted=true&page_num=2&page_size=20
  response:
    body:
      string: '"<?xml version=\"1.0\" encoding=\"UTF-8\"?><results><hits>1</hits><took>33</took></results>"

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
